{% extends "dashbord_seller.html" %}
{% block content %}
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 gutter">
        <div class="sales">
            <h2> Total Sales</h2>
            <div class="btn-group">
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 gutter">
        <div class="sales">
            <h2> Total Orders</h2>
            <div class="btn-group">
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 gutter">
        <div class="sales report">
            <h2>Total Income</h2>
            <div class="btn-group">
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 gutter">
        <div class="sales report">
            <h2>TOtal clients</h2>
            <div class="btn-group">
                <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i></li>
            </div>
        </div>
    </div>
</div>
{% endblock content %}