{% extends "base.html" %}
{% load static %}

{% block main_navbar %}
{% include "includes/top_navbar.html" %}
{% endblock main_navbar %}

{% block style %}
<style>
    .vertical-menu {
        width: 200px;
    }

    .vertical-menu a {
        background-color: #eee;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
    }

    .vertical-menu a:hover {
        background-color: #ccc;
    }

    .vertical-menu a.active {
        background-color: crimson;
        color: white;
    }
</style>
{% endblock style %}

{% block content %}
<div class="container">
    <div class="d-flex">
        <div class="vertical-menu">
            <a href="#" id="active" class="active">Settings</a>
            <a href="{% url 'change_password' %}" onclick="document.getElementById('settings_content').innerHTML='{{user.username}}'">Change Password</a>
            <a href="#" onclick="name()">Link 2</a>
            <a href="#" onclick="document.getElementById('settings_content').innerHTML='qsdflk'">Link 3</a>
            <a href="#" onclick="document.getElementById('settings_content').innerHTML='qsdflk'">Link 4</a>
        </div>
        <div class="container">
            <div id="settings_content"></div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script src="#" type="text/javascript"></script>
{% endblock script %}