{% load static %}

<!-- Top-NavBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="col-lg-2 col-sm-2 col-2">
      <div class="logo_container">
        <div class="logo"><a class="navbar-brand ms-2" href="{% url 'home' %}">Brand</a></div>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><i class="fa fa-home me-3"></i></a>
        </li>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">Dropdown</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success me-2" type="submit"><i class="fas fa-search"></i></button>
        <button class="btn btn-outline-success me-2"><a href="{% url 'register' %}"><img class="user_icon"
              src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg"
              alt="Register">Register</a></button>
        <button class="btn btn-outline-success me-2"><a href="{% url 'login' %}"><img
              src="https://img.icons8.com/ios-filled/20/000000/login-rounded-right.png" />Sign-In</a></button>
      </form>
      <div class="col-lg-3 col-9 order-lg-3 order-2 text-lg-left text-right">
        <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
          <div class="wishlist d-flex flex-row align-items-center justify-content-end">
            <div class="wishlist_icon"><img
                src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918681/heart.png" alt=""></div>
            <div class="wishlist_content">
              <div class="wishlist_text"><a href="#">Wishlist</a></div>
              <div class="wishlist_count">10</div>
            </div>
          </div> <!-- Cart -->
          <div class="cart">
            <div class="cart_container d-flex flex-row align-items-center justify-content-end">
              <div class="cart_icon"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918704/cart.png"
                  alt="">
                <div class="cart_count"><span>3</span></div>
              </div>
              <div class="cart_content me-2">
                <div class="cart_text"><a href="{% url 'cart' %}">Cart</a></div>
                <div class="cart_price">$185</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- End Top-NavBar -->
<!-- Main-NavBar -->
<nav class="main_nav">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="main_nav_content d-flex flex-row">
          <!-- Main Nav Menu -->
          <div class="main_nav_menu">
            <ul class="standard_dropdown main_nav_dropdown">
              <div class="d-flex">
                {% for categorie in categories %}
                <li class="hassubs"><a href="{% url 'categorie' categorie.category %}">{{categorie}}</a></li>
                {% endfor %}
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- End Main-NavBar -->