<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        {% include 'css.html' %}
        {% block style %}{% endblock style %}
        <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
</head>

<body id="body">
    {% block body %}
    {% block mainNavBar %}
    {% include "includes/navbar.html" %}
    {% endblock mainNavBar %}
    {% block content %}{% endblock content %}
    {% include "includes/footer.html" %}
    {% endblock body %}
    {% block script %}{% endblock script %}
    {% include 'js.html' %}
</body>

</html>