{% extends 'base.html' %}
{% load static %}

{% block mainNavBar %}
{% include "includes/topNavBar.html" %}
{% endblock mainNavBar %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a href="{% url 'home' %}" class="btn btn-outline-dark">&#8592;Continue Shopping</a>
            <br>
            <br>
            <table class="table">
                <tr>
                    <th><h5>Items: <strong>{{numOrders}}</strong></h5></th>
                    <th><h5>Total: <strong>${{total_price}}</strong></h5></th>
                    <th><a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a></th>
                </tr>
            </table>
        </div>
        <br>
        <div class="box-element">
            <div class="cart-row">
                <div style="flex:2;"><strong>Image</strong></div>
                <div style="flex:2;"><strong>Item</strong></div>
                <div style="flex:1;"><strong>Price</strong></div>
                <div style="flex:2;"><strong>Quantity</strong></div>
                <div style="flex:2;"><strong>Total</strong></div>
            </div>
            {%for order in orders %}
            <div class="row" id='{{order.product.id}}'>
                <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                    <div class="d-flex flex-row"><img class="rounded" src="../{{cart.product.photo}}" width="40">
                        <div class="ml-2"><span class="font-weight-bold d-block">{{order.product.name}}</span>
                        </div>
                    </div>
                    <div>
                        <p style="flex:1" class="price">${{order.product.price|floatformat:1}}</p>
                    </div>
                    <div style="flex:2;">
                        <p class="quantity">{{order.quantity_ordered}}</p>
                        <div class="quantity">
                            <a href="{% url 'increaseQuantity' order.pk %}"><img src="{% static 'images/arrow-up.png'%}" class="chg-quantity"></a>
                            <a href="{% url 'decreaseQuantity' order.pk %}"><img src="{% static 'images/arrow-down.png'%}" class="chg-quantity"></a>
                        </div>
                    </div>
                    <div>
                        <p style="flex:1" class="total">${{order.order_total_price}}</p>
                    </div>
                    <div><a id="remove" href="{% url 'deleteOrder' order.id %}" class="btn btn-outline-danger mb-2 update-cart"></a></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
