<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <h1>Register Menu</h1>
    <form action="">
        {% csrf_token %}
        <p>Please select:</p>
        <input type="radio" id="client" name="theType" value="client" checked>
        <label for="client">Client</label><br>
        <input type="radio" id="seller" name="theType" value="seller">
        <label for="seller">Seller</label><br>
        <button type="submit" id="submitButton">Submit</button>
    </form>
    <script>
        function type() {
            let theType = document.querySelector('input[name=theType]:checked').value;
            return theType;
        }

        let submitButton = document.getElementById('submitButton');
        submitButton.addEventListener('click', (e) => {
            e.preventDefault();
            let a = type();
            console.log(a);
            window.location.href = "http://127.0.0.1:8000/register".concat(a);  
        })
    </script>

</body>

</html>