{% extends 'base.html'%}

{% block title %}
{{product.name}}
{% endblock title %}

{% block style %}
<style>
    button.like {
        width: 30px;
        height: 30px;
        margin: 0 auto;
        color: rgba(0, 150, 136, 1);
        background-color: rgba(38, 166, 154, 0.3);
        border-color: rgba(0, 150, 136, 1);
        border-width: 1px;
        font-size: 15px;
    }

    button.dislike {
        width: 30px;
        height: 30px;
        margin: 0 auto;
        color: rgba(255, 82, 82, 1);
        background-color: rgba(255, 138, 128, 0.3);
        border-color: rgba(255, 82, 82, 1);
        border-width: 1px;
        font-size: 15px;
    }
</style>
{% endblock style %}

{% block mainNavBar %}
{% include "includes/topNavBar.html" %}
{% endblock mainNavBar %}

{% block content %}
<div class="container">
    <div class="">
        {% if rate_avg == 1 %}
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        {% elif rate_avg == 2 %}
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        {% elif rate_avg == 3 %}
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        {% elif rate_avg == 4 %}
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
        {% elif rate_avg == 5 %}
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        {% else %}
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        {% endif %}
        {{real_rate}}%
        <form action="{% url 'unrated' product.id %}" method="POST" novalidate>
            {% csrf_token %}
            <button type="submit" class="dislike"><i class="bi bi-hand-thumbs-down-fill"></i></button>
        </form>
        <form action="{% url 'rated' product.id %}" method="POST" novalidate>
            {% csrf_token %}
            <button type="submit" class="like"><i class="bi bi-hand-thumbs-up-fill"></i></button>
        </form>

    </div>
</div>
{% endblock content %}